<footer class="main-footer cols-gap-lg footer-bold s-dark">
  <div class="lower-footer bold-footer-lower">
    <div class="ts-contain inner">
      <div class="spc-social spc-social-b ">
        <a href="#" class="link s-qq" target="_blank" rel="noopener" title="QQ">
          <i class="icon tsi iconfont icon-social-qq"></i>

          <span class="visuallyhidden">QQ</span>
        </a>
        <a href="#" class="link s-wechat" target="_blank" rel="noopener" title="微信">
          <i class="icon tsi iconfont icon-weixin"></i>
          <span class="visuallyhidden">微信</span>
        </a>
        <a href="#" class="link s-ding" target="_blank" rel="noopener" title="钉钉">
          <i class="icon tsi iconfont icon-dingding"></i>
          <span class="visuallyhidden">钉钉</span>
        </a>
      </div>

      <div class="copyright">
        &copy;
        <a href="https://gaj.sh.gov.cn/wa/newlogin/recordSearch.jsp" rel="nofollow" target="_blank">
          {{site.configs.registrationNo}}
        </a>
      </div>
    </div>
  </div>
</footer>