<div class="smart-head smart-head-a smart-head-main" id="smart-head" data-sticky="auto" data-sticky-type="smart">

  <div class="smart-head-row smart-head-mid is-light smart-head-row-full">

    <div class="inner wrap">


      <div class="items items-left ">
        <a href="" title="{{site.title}}" rel="home" class="logo-link ts-logo logo-is-image">
          <h1>
            <img src="{{site.logo}}" class="logo-image logo-image-dark" alt="{{site.title}}" srcset="{{site.logo}}"
              width="272" height="50">
            <img src="{{site.logo}}" class="logo-image" alt="{{site.title}}" srcset="{{site.logo}}" width="272"
              height="50">

          </h1>
        </a>
      </div>
      <div class="items items-center empty">
      </div>
      <div class="items items-right ">
        <div class="nav-wrap">
          <nav class="navigation navigation-small nav-hov-a">
            <ul id="menu-top-nav" class="menu">
              <li id="menu-item-3537" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3537"><a
                  href="#">
                  <i class="iconfont icon-gonggong-youxiang email-icon"></i>

                  {{site.email}}</a>
              </li>
              <li id="menu-item-3534" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3534"><a
                  target="_blank" rel="noopener" href="javascript:;">
                  <i class="iconfont icon-24gl-phoneLoudspeaker email-icon"></i>
                  +39 123456789</a></li>
            </ul>
          </nav>
        </div>

        <div class="spc-social spc-social-a smart-head-social">
          {% if logined == undefined %}
          <a href="/users/login" class="link s-qq" rel="nofollow">
            <span>登录</span>
          </a>


          <a href="/users/reg" class="link s-wechat" rel="nofollow">
            <span>注册</span>
          </a>
          {% endif %}


        </div>

      </div>
    </div>
  </div>
  <div class="smart-head-row smart-head-bot is-light smart-head-row-full">
    <div class="inner wrap">
      <div class="items items-left ">

        <button class="offcanvas-toggle has-icon" type="button" aria-label="Menu">
          <span class="hamburger-icon hamburger-icon-a">
            <span class="inner"></span>
          </span>
        </button>
        <div class="nav-wrap">
          <nav class="navigation navigation-main nav-hov-a">
            <ul id="menu-main-menu" class="menu">
              <li id="menu-item-3973"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-cat-2 menu-item-3973">
                <a href="/">首页</a>
              </li>
              {% navtree 'default' %}
              {% for cate in navtree %}
              {% if cate.children and cate.children.length>0 and cate.type == '1'%}
              <li id="menu-item-579"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-cat-1 menu-item-has-children item-mega-menu menu-item-579">
                <a href="product.html">{{cate.name}}</a>
                <div class="sub-menu mega-menu mega-menu-a wrap">
                  <div class="column sub-cats">
                    <ol class="sub-nav">
                      {% for sonNav in cate.children %}
                      <li
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-cat-{{sonNav.sortId}} menu-item-4096">
                        <a href="javascript:;">{{sonNav.name}}</a>
                      </li>
                      {% endfor %}
                    </ol>
                  </div>

                  <section class="column recent-posts" data-columns="4">
                    {% for sonNav in cate.children %}
                    <div class="posts" data-id="{{sonNav.sortId}}">
                      <section class="block-wrap block-grid mb-none" data-id="{{sonNav.sortId}}">
                        <div class="block-content">
                          <div class="loop loop-grid loop-grid-sm grid grid-4 md:grid-2 xs:grid-1">

                            {% news "pageSize"=6,"typeId"=sonNav.id %}
                            {% for item in news %}
                            <article class="l-post  grid-sm-post grid-post">
                              <div class="media">
                                <a href="{{item.url}}" class="image-link media-ratio ratio-16-9"
                                  title="{{item.title}}"><span data-bgsrc="{{item.sImg}}"
                                    class="img bg-cover wp-post-image attachment-bunyad-medium size-bunyad-medium lazyload"
                                    data-bgset="{{item.sImg}}" data-sizes="(max-width: 368px) 100vw, 368px"></span></a>
                              </div>
                              <div class="content">
                                <div class="post-meta post-meta-a has-below">
                                  <h2 class="is-title post-title"><a href="javascript:;">{{item.title}}</a></h2>
                                </div>
                              </div>
                            </article>
                            {% endfor %}
                          </div>
                        </div>
                      </section>
                    </div>
                    {% endfor %}
                  </section>
                </div>
              </li>
              {% else %}
              <li id="menu-item-3973"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-cat-2 menu-item-3973">
                <a href="{{cate.url}}">{{cate.name}}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>


      <div class="items items-center empty">
      </div>
      <div class="items items-right ">
        <a href="#" class="search-icon has-icon-only is-icon" title="Search">
          <i class="tsi tsi-search"></i>
        </a>
      </div>
    </div>
  </div>

</div>