{% extends "../default.html" %} {% block content %}
<div class="main-full news-main">
  <div id="post-6" class="page-content post-6 page type-page status-publish">
    <div data-elementor-type="wp-page" data-elementor-id="6" class="elementor elementor-6" data-elementor-settings="[]">
      <div class="elementor-section-wrap">
        <section
          class="has-el-gap el-gap-default elementor-section elementor-top-section elementor-element elementor-element-a60b8de elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="a60b8de" data-element_type="section">
          <div class="elementor-container elementor-column-gap-no">
            <div
              class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-23a74f7 main-content"
              data-id="23a74f7" data-element_type="column">
              <div class="elementor-widget-wrap elementor-element-populated">
                <div
                  class="elementor-element elementor-element-f12d8b7 elementor-widget elementor-widget-smartmag-postslist"
                  data-id="f12d8b7" data-element_type="widget" data-widget_type="smartmag-postslist.default">
                  <div class="elementor-widget-container">
                    <section class="block-wrap block-posts-list block-sc mb-none" data-id="10">
                      <div class="block-head block-head-ac block-head-h is-left">
                        <h4 class="heading">最新消息</h4>
                      </div>
                      <div class="block-content">
                        <div class="loop loop-list grid grid-1 md:grid-1 sm:grid-1">
                          {% news "pageSize"=6,"typeId"="Dt0O65c_X" %}
                          {% for item in news %}
                          <article class="l-post  list-post-v-center grid-on-sm m-pos-left list-post">
                            <div class="media">
                              <a href="{{item.url}}" class="image-link media-ratio ratio-3-2"
                                title="{{item.stitle}}"><span data-bgsrc="{{item.sImg}}"
                                  class="img bg-cover wp-post-image attachment-medium size-medium lazyload"
                                  data-bgset="{{item.sImg}}" data-sizes="(max-width: 293px) 100vw, 293px"></span></a>
                              <span class="cat-labels cat-labels-overlay c-overlay p-top-left">
                                <a href="{{item.url}}" class="category term-color-3"
                                  rel="category">{{item.keywords[0]}}</a>
                              </span>
                            </div>
                            <div class="content">
                              <div class="post-meta post-meta-a has-below">
                                <h2 class="is-title post-title">
                                  <a href="{{item.url}}">{{item.stitle}}</a>
                                </h2>
                                <div class="post-meta-items meta-below">
                                  <span class="meta-item post-author">
                                    <span class="by">作</span>
                                    <a href="{{item.url}}" title="{{item.uAuthor.name}}撰" rel="author">
                                      &nbsp;{{item.uAuthor.name}}
                                    </a>
                                  </span>
                                  <span class="meta-item has-next-icon date">
                                    <span class="date-link">
                                      <time class="post-date"
                                        datetime="{{item.updateDate}}">{{item.updateDate.split(' ')[0]}}
                                      </time>
                                    </span>
                                  </span>
                                  <span class="meta-item comments has-icon">
                                    <a href="{{item.url}}">
                                      <i class="tsi tsi-comment-o"></i>
                                      {{item.clickNum}}
                                    </a>
                                  </span>
                                </div>
                              </div>

                              <div class="excerpt">
                                <p>{{item.discription}}&hellip;</p>
                              </div>
                            </div>
                          </article>
                          {% endfor %}
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6fff579 main-sidebar ts-sticky-native"
              data-id="6fff579" data-element_type="column">
              <div class="elementor-widget-wrap elementor-element-populated">
                <div
                  class="elementor-element elementor-element-69a5e1e elementor-widget elementor-widget-smartmag-highlights"
                  data-id="69a5e1e" data-element_type="widget" data-widget_type="smartmag-highlights.default">
                  <div class="elementor-widget-container">
                    <section class="block-wrap block-highlights block-sc" data-id="11">
                      <div class="block-head block-head-ac block-head-h is-left">
                        <h4 class="heading">热门</h4>
                      </div>
                      <div class="block-content">
                        <div>
                          <div class="loop loop-small loop-small-a grid grid-1 md:grid-1 sm:grid-1 xs:grid-1">
                            {% hot pageSize=4,typeId="Dt0O65c_X" %}
                            {% for item in hot %}
                            {% if loop.index == 1 %}
                            <article class="l-post  grid-base-post grid-post">
                              <div class="media">
                                <a href="{{item.url}}" class="image-link media-ratio ratio-16-9"
                                  title="{{item.stitle}}">
                                  <span data-bgsrc="{{item.sImg}}"
                                    class="img bg-cover wp-post-image attachment-bunyad-medium size-bunyad-medium lazyload"
                                    data-bgset="{{item.sImg}}" data-sizes="(max-width: 368px) 100vw, 368px">
                                  </span>
                                </a>
                                <span class="cat-labels cat-labels-overlay c-overlay p-top-left">
                                  <a href="{{item.url}}" class="category term-color-1"
                                    rel="category">{{item.tags[0].name}}</a>
                                </span>
                              </div>
                              <div class="content">
                                <div class="post-meta post-meta-a has-below">
                                  <h2 class="is-title post-title limit-lines l-lines-2"><a
                                      href="{{item.url}}">{{item.stitle}}</a></h2>
                                  <div class="post-meta-items meta-below">
                                    <span class="meta-item post-author">
                                      <span class="by">作</span>
                                      <a href="{{item.url}}" title="{{item.uAuthor.name}}撰"
                                        rel="author">&nbsp;{{item.uAuthor.name}}</a>
                                    </span>
                                    <span class="meta-item has-next-icon date">
                                      <span class="date-link">
                                        <time class="post-date" datetime="{{item.updateDate}}">
                                          {{item.updateDate.split(' ')[0]}}
                                        </time>
                                      </span>
                                    </span>
                                    <span class="meta-item comments has-icon">
                                      <a href="{{item.url}}">
                                        <i class="tsi tsi-comment-o"></i>
                                        {{item.clickNum}}
                                      </a>
                                    </span>
                                  </div>
                                </div>

                                <div class="excerpt">
                                  <p>{{item.discription}}&hellip;</p>
                                </div>
                              </div>
                            </article>
                            {% else %}
                            <article class="l-post  small-a-post m-pos-left small-post">
                              <div class="media">
                                <a href="{{item.url}}" class="image-link media-ratio ar-bunyad-thumb"
                                  title="{{item.stitle}}"><span data-bgsrc="{{item.sImg}}"
                                    class="img bg-cover wp-post-image attachment-medium size-medium lazyload"
                                    data-bgset="{{item.sImg}}" data-sizes="(max-width: 107px) 100vw, 107px"></span>
                                </a>

                              </div>
                              <div class="content">

                                <div class="post-meta post-meta-a post-meta-left has-below">
                                  <h4 class="is-title post-title limit-lines l-lines-2"><a
                                      href="{{item.url}}">{{item.stitle}}</a></h4>
                                  <div class="post-meta-items meta-below">
                                    <span class="meta-item date">
                                      <span class="date-link">
                                        <time class="post-date" datetime="{{item.updateDate}}">
                                          {{item.updateDate.split(' ')[0]}}
                                        </time>
                                      </span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </article>
                            {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}