{% extends "../default.html" %} {% block content %}
{% assets "about.css" %}
{% endassets %}
<div id="home-wrap" class="section content-section">
  <div class="container">
    <div class="row no-margin padding-lg">
      <div class="col-md-6 padding-leftright-null">
        <div class="text padding-topbottom-null">
          <h2 class="margin-bottom-null left">关于我们<br>公司</h2>
          <div class="padding-onlytop-sm">
            <p class="margin-bottom margin-md-bottom-null">
              西安中科华晶光电技术有限公司成立于2018年，经营范围光电设备、光电仪器产品、信息技术产品的开发、设计、加工、制造、销售及技术开发、技术转让、技术咨询与服务;激光器光电探测器,光学材料,光学元件,光学镜头、光学仪器、光电子器件、光电传感器销售;自动控制系统的开发、维修和技术服务;机电设备、机械设备(不含特种机械设备)和金属结构的设计、制造、安装、销售与技术服务。(依法须经批准的项目,经相关部门批准后方可开展经营活动)。
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 padding-leftright-null padding-md-top">
        <div class="text padding-topbottom-null">
          <picture>
            <img src="assets/img/about.jpg" class="img-responsive shadow" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="light-background">
    <div class="container">
      <div class="row no-margin padding-lg">
        <div class="col-md-4 padding-leftright-null">
          <div class="text padding-topbottom-null padding-md-bottom">
            <i class="material-icons color service iconfont icon-jingyan" title="经验"></i>
            <h3 class="margin-bottom-extrasmall">精神</h3>
            <p class="margin-bottom-null">诚信是一切合作的基础，宽容是解决问题的前提，创新是发展事业的利器，服务是创造价值的根本。公司会坚持持续改进、满足顾客期望、
              确保品质第一、开拓全球市场。</p>
          </div>
        </div>
        <div class="col-md-4 padding-leftright-null">
          <div class="text padding-topbottom-null padding-md-bottom">
            <i class="material-icons color service iconfont icon-mubiao" title="目标"></i>
            <h3 class="margin-bottom-extrasmall">价值</h3>
            <p class="margin-bottom-null">
              客户、供应商、公司股东、公司员工等一切和自身有合作关系的单位和个人都是自己的合作伙伴，并只有通过努力为合作伙伴创造价值，才能体现自身的价值并获得发展和成功。</p>
          </div>
        </div>
        <div class="col-md-4 padding-leftright-null">
          <div class="text padding-topbottom-null">
            <i class="material-icons color service iconfont icon-tuandui" title="团队"></i>
            <h3 class="margin-bottom-extrasmall">团队</h3>
            <p class="margin-bottom-null">建设了强大的技术服务团队和研发团队，大学以上学历占80%以上，绝大部分工程师工作五年以上</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}